<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.css">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>

<body class = "body">
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
			<a class="navbar-brand" href="http://127.0.0.1:5000">MO</a>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
				aria-expanded="false" aria-label="Toggle navigation"></button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:5000">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:5000/graph">Graph</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="form-group mt-5">
			<input type="text" class="form-control" name="" id="keyword" aria-describedby="helpId" placeholder="Enter a search key">
			<center><input  id="search" class="btn btn-primary mt-3" type="button" value="Search"><center>
		</div>
		<center><div class="h1" id="heading" style='text-transform:capitalize;'></div></center>
		<div class="row pt-5">
			<div class="col-md-6">
				<div id={{ chartID|safe }} class="chart" style="height: 500px; width: 100%"></div>
			</div>
			<div class="col-md-6 ">
				<div id="volume" class="chart" style="height: 500px; width: 100%"></div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-md-8 pl-4" id="table">

			</div>
			<div class="col-md-4">
					<div id="pie" class="chart" style="height: 500px; width: 100%"></div>
			</div>

		</div>
		<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

		<!-- Footer Links -->
		<div class="container text-center text-md-left">
	  
		  <!-- Grid row -->
		  <div class="row">
	  
			<!-- Grid column -->
			<div class="col-md-4 mx-auto">
	  
			  <!-- Links -->
			  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
	  
			  <ul class="list-unstyled">
				<li>
				  <a href="http://127.0.0.1:5000">Home</a>
				</li>
				<li>
				  <a href="http://127.0.0.1:5000">Graph</a>
				</li>

			  </ul>
	  
			</div>
			<!-- Grid column -->
	  
			<hr class="clearfix w-100 d-md-none">
	  
			<!-- Grid column -->
			<div class="col-md-4 mx-auto">
	  
			  <!-- Links -->
			  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Project Done By</h5>
	  
			  <ul class="list-unstyled">
				<li>
				  <a href="#!">Aishwarya</a>
				</li>
				<li>
				  <a href="#!">Megha</a>
				</li>
				<li>
				  <a href="#!">Nithin</a>
				</li>
				<li>
				  <a href="#!">Yash</a>
				</li>
			  </ul>
	  
			</div>
			<!-- Grid column -->
	  
			<hr class="clearfix w-100 d-md-none">
	  
			<!-- Grid column -->
			<div class="col-md-4 mx-auto">
	  
			  <!-- Links -->
			  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Usn</h5>
	  
			  <ul class="list-unstyled">
				<li>
				  <a href="#!">1MV15IS004</a>
				</li>
				<li>
				  <a href="#!">1MV16IS406</a>
				</li>
				<li>
				  <a href="#!">1MV15IS025</a>
				</li>
				<li>
				  <a href="#!">1MV15IS063</a>
				</li>
			  </ul>
	  
			</div>
			<!-- Grid column -->
	  
	  
			<!-- Grid column -->

			<!-- Grid column -->
	  
		  </div>
		  <!-- Grid row -->
	  
		</div>
		<!-- Footer Links -->
	  
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2019 Copyright:
		  <a href="https://mdbootstrap.com/education/bootstrap/"> MineTheOpinion.com</a>
		</div>
		<!-- Copyright -->
	  
	  </footer>
	  <!-- Footer -->
		
		<script>
			var chart_id = {{ chartID|safe }}
			var title = {{ title|safe }}
			var chart = {{ chart|safe }}

		</script>
		<script
		src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
			<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/highcharts-3d.js"></script>
			<script src="https://code.highcharts.com/modules/data.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="../static/graph.js"></script>
			<script>
					$("#search").click(function(){
						var key=$("#keyword")[0].value;
						$("#heading").text(key);
						$.get("/search/"+key, function(data, status){
							console.log("Data: " + data + "\nStatus: " + status);
						});
					});
				setInterval(()=>{
					$("#table").load('http://127.0.0.1:5000/table');
				},2000)
			</script>

	</body>
	
	
</body>
</html>		
