<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
        <title>Document</title>
    </head>
    <body>
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Tweet</th>
                    <th scope="col">sentiment</th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                    {% for x in s %}
                    <tr>
                        <td>{{x[0]}}</td>
                        <td>{{x[1]}}</td>
                        <td>{{x[2]}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
    </body>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
    <!-- <script>
        $.getJSON("127.0.0.1:5000/table",(data)=>{
            console.log(data)
            for(x in data){
                var html=`<tr>
                        <td>`+x[0]+`</td>
                        <td>`+x[1]+`</td>
                        <td>`+x[2]+`</td>
                        </tr>`;
                $('#tablebody').append(html);
            }
        })
    </script> -->

</html>